
.student-table {
    width: 60%;
    margin: 40px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}


.student-table caption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}


.student-table th,
.student-table td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.student-table th {
    background-color: lightgray;
    font-size: 16px;
}


.student-table tr:nth-child(even) {
    background-color: #f2f2f2;
}


.student-table tr:hover {
    background-color: #ddd;
}
